*{
	box-sizing: border-box;
}

#outer{
height: 800px;
width: 800px;
margin:0px auto;
}

.row{
height: 200px;
width:  800px;

}

.row-child{
 //border: 1px solid green;
   height:100px;
   width: 800px;

}

.box-even{
     border: 5px solid black;
     height: 100px;
     width: 100px;
     float: left;
     background-color: black;
}

.box-odd{
     border: 5px solid black;
     height: 100px;
     width: 100px;
     float: left;
     background-color: white;
}